 <script>
$(document).ready(function () {
$("#fvalidate").validate({

rules: {
"email": {required: true, email: true},
"name": {required: true, minlength: 3},
"surname": {required: true, minlength: 3},
"phone": {required: true, number:true, minlength: 6}
}
});
});

 </script>

 <% content_for :catmenu do %>
<div class = "catMenu">
   <ul id="menu">

  <% @rootCats.each do |rcat| %>
  <li class="menu_right"><%= link_to rcat.name, controller: "catalog", action: "show", cat_id: rcat.id%>
 <%= renderSubmenu(rcat) %>

</li>
<% end %>
</ul>
</div>


<% end %>

 <% if user_signed_in? %>
 Введите дополнительную информацию о заказе:
 <br>
 <%= form_tag "/checkout/savedetails/", :id => 'fvalidate', :method => 'post' do %>
      <%= label_tag :surname, "Фамилия: " %> <br> 
        <%= text_field_tag :surname, current_order.surname, class: "", size: 34 %> <br> 
      <%= label_tag :name, "Имя и отчество: " %> <br>
        <%= text_field_tag :name, current_order.name, class: "", size: 34 %><br> 
     
        <%= label_tag :email, "email: " %> <br>
        <%= text_field_tag :email, current_order.email, class: "", size: 34 %> <br> 
        <%= hidden_field_tag :order_id, current_order.id  %>
        <%= label_tag :phone, "Телефон: " %> <br> 
        <%= text_field_tag :phone, current_order.phone, class: "", size: 34 %> <br> 
        <%= label_tag :mphone, "Мобильный телефон: " %> <br> 
        <%= text_field_tag :mphone, current_order.mphone, class: "", size: 34 %> <br> 
        <%= label_tag :city, "Город: " %> <br> 
        <%= text_field_tag :city, current_order.city, class: "", size: 34 %> <br> 
                <%= label_tag :street, "Улица: " %> <br> 
        <%= text_field_tag :street, current_order.street, class: "", size: 34 %> <br> 
                <%= label_tag :house, "Дом: " %> <br> 
        <%= text_field_tag :house, current_order.house, class: "", size: 34 %> <br> 
          <%= label_tag :korpus, "Корпус: " %> <br> 
        <%= text_field_tag :korpus, current_order.korpus, class: "", size: 34 %> <br> 
          <%= label_tag :entrance, "Подъезд: " %> <br> 
        <%= text_field_tag :entrance, current_order.entrance, class: "", size: 34 %> <br> 
          <%= label_tag :floor, "Этаж: " %> <br> 
        <%= text_field_tag :floor, current_order.floor, class: "", size: 34 %> <br> 
          <%= label_tag :comment, "Комментарий: " %> <br> 
        <%= text_area :comment, current_order.comment, class: "", size: 340 %> <br> 
		<%= submit_tag 'Оформить заказ' %>
  <% end %>


 <% else %>

 <div style = "width:200px; float:left;margin: 0 0 0 10px;">
 <h3>Войдите: </h3>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, 'Электронная почта:' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль:' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  

  <div class="actions">
  <br>
    <%= f.submit "Войти" %>
  </div>
<% end %>


</div>

<div style = "width:400px; float: right;">
<h3 style = "text-align: center;margin-right:150px;">Или зарегестрируйтесь:</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'Электронная почта:'%><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль:' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Подтверждение пароля:' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :surname, 'Фамилия:' %><br />
    <%= f.text_field :surname, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name, 'Имя и Отчество:' %><br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phoneWork, 'Рабочий телефон:' %><br />
    <%= f.text_field :phoneWork, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phoneMob, 'Мобильный телефон (для экстренной связки):' %><br />
    <%= f.text_field :phoneMob, autocomplete: "off" %>
  </div>

  <div class="actions">
  <br>
    <%= f.submit "Зарегестрироваться" %>
  </div>
<% end %>



</div>
<div style = "width:600px;clear:both;">
<!--
<%= render "devise/shared/links" %> -->
</div>

 <%end %>


