 <% content_for :catmenu do %>
<div class = "catMenu">
   <ul id="menu">

  <% @rootCats.each do |rcat| %>
  <li class="menu_right"><%= link_to rcat.name, controller: "catalog", action: "show", cat_id: rcat.id%>
 <%= renderSubmenu(rcat) %>

</li>
<% end %>
</ul>
</div>


<% end %>

 <% if user_signed_in? %>
 Фамилия:
  <%= @order.surname %><br>
  Имя и Отчество:
 <%= @order.name %><br>
  Email:
 <%= @order.email %><br>
  Телефон: 
 <%= @order.phone %> <br>
 Мобильный телефон:
 <%= @order.mphone %><br>
 Город:
 <%= @order.city %><br>
 Улица:
 <%= @order.street %> <br>
 Дом:
 <%= @order.house %> <br>
 Корпус:
 <%= @order.korpus %> <br>
 Подъезд:
 <%= @order.entrance %> <br>
 Этаж:
 <%= @order.floor %> <br>
 Комментарий:
 <%= @order.comment %> <br><br>
 <%= link_to "Изменить информацию о заказе", controller: "checkout", action: "checkout_form", order_id: @order.id %><br>
<br>
 <button id = "reserve">Зарезервировать</button>
 <br><br><br>
<table class = "gridtable">
<tr>
  <th>Артикул</th>
  <th>Название</th>

  <th>Цена за ед.</th>
   <th>Количество</th>
</tr>

 <% @order.order_items.each do |order_item| %>
      <tr>

<td>

<%= order_item.product.articul %>

</td>
<td width="380px">

<%= order_item.product.name %>

</td>
<td>
<div class = "favTablePrice">
<h4 class="text-right"><span style="color: green"><%= order_item.unit_price %> р.</span></h4> 
</div>
</td>
<td>
x <%= order_item.quantity %>
</td>
</tr>

  <% end %>
  </table>
  <br>
   <%= link_to "вернуться к корзине", controller: "carts", action: "show" %><br>

 <% end %>
