<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Название:' %><br>
    <%= f.text_field :title %>
  </div>
  <div data-no-turbolink>
    <%= f.label :'Содержание:' %><br>
   <%= f.cktext_area :content, :class => 'someclass', :ckeditor => {:language => 'ru'} , :id =>"ckfield"%>
  </div>
  <div class="field">
    <%= f.label :'Краткое описание:' %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label "Картинка" %>
    <%= f.file_field :image %>
  </div>
  <div>
  <%= f.label :product_ids, "Товары, упоминаемые в статье" %><br>
  <%= f.collection_select :product_ids, Product.order(:name), :id, :name, {}, {multiple: true, :class=>'chosen-select'} %>
  </div>

  <div class="field">
    <%= f.label :'Новость:' %><br>
    <%= f.check_box :isNew %>
  </div>
  
  <div class="field">
    <%= f.label :'Обзорный материал:' %><br>
    <%= f.check_box :isReview %>
  </div>
  <div class="field">
    <%= f.label :"На главной:" %><br>
    <%= f.check_box :onHomePage %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
