<p id="notice"><%= notice %></p>

<h2>Статьи</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
     
      <th>Краткое описание</th>
      <th>Новость</th>
      <th>Обзор</th>
      <th>На главной</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
       
        <td><%= article.description %></td>
        <td><%= article.isNew %></td>
        <td><%= article.isReview %></td>
        <td><%= article.onHomePage %></td>
        <td><%= link_to 'Просмотр', article %></td>
        <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
        <td><%= link_to 'Удалить', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить статью', new_article_path %>
