<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @article.title %>
</p>

<%= image_tag @article.image.url(:thumb) %>
<div>
<p>
  <strong>Содержание:</strong>
  <%=raw @article.content %>
</p>
</div>
<br>

<p>
  <strong>Описание:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Новость:</strong>
  <%= @article.isNew %>
</p>

<p>
  <strong>Обзор:</strong>
  <%= @article.isReview %>
</p>

<p>
  <strong>На главной:</strong>
  <%= @article.onHomePage %>
</p>  
  <%= @articleProducts.each do |ap| %>
 <%= ap.product.name %>
 <br> 
 
 <% end %>

<%= link_to 'Редактировать', edit_article_path(@article) %> |
<%= link_to 'Назад к списку', articles_path %>
