<script>
$(document).ready ( function () {
  

$("#pay_btn").click(function (e) {
  e.preventDefault();
   //$("#payform").submit(function (e) {
   
  //alert("clicked!"); 
   $.ajax({
      url: "/wscheckorder/",
      type: "POST",
      data: {orderId: $("#orderId").val()},
      success: function (data) { 
          if (data == "ЦБ"){
            $("#page_element").html(data);
           $("#payform").submit();
             
          }
          else
          {
             $("#page_element").html(data);
          }// append data to your page
         
      }
  });
// alert("ajax done!"); 
});
});
</script>

<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    В данный момент ваша корзина пуста.  Пожалуйста <%= link_to "пройдите в каталог", root_path %> и выберите товары.
  </p>
<% else %>
<table class = "favTable" cellpadding="5">
<tr bgcolor="#dddddd">
<td>

</td>
<td>
Артикул
</td>
<td>
Наименование
</td>
<td>
Цена
</td>
<td>
Кол-во
</td>
<td>
действие
</td>
</tr>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  </table>
  <br>
  Общая сумма заказа: <%= @current_order.subtotal %> руб. <br><br>
  <form action="<%= @pay_desc['mrh_url'] %>" method="post" id = "payform">
  <input type=hidden name=MrchLogin value="<%= @pay_desc['mrh_login'] %>">
  <input type=hidden name=OutSum value="<%= @pay_desc['out_summ'] %>">
  <input type=hidden id = "orderId" name=InvId value="<%= @pay_desc['inv_id'] %>">
  <input type=hidden name=Desc value="<%= @pay_desc['inv_desc'] %>">
  <input type=hidden name=SignatureValue value="<%= @pay_desc['crc'] %>">
  <input type=hidden name=Shp_item value="<%= @pay_desc['shp_item'] %>">
  <input type=hidden name=IncCurrLabel value="<%= @pay_desc['in_curr'] %>">
  <input type=hidden name=Culture value="<%= @pay_desc['culture'] %>">
  <input type=hidden name=IsTest value="<%= @pay_desc['isTest'] %>">
  <input type=submit value='Оплатить' id = "pay_btn">
</form>
<div id = "page_element" name = "page_element"></div>
<% end %>