




<% content_for :catmenu do %>
<div class = "catMenu">
   <ul id="menu">

  <% @rootCats.each do |rcat| %>
  <li class="menu_right"><%= link_to rcat.name, controller: "catalog", action: "show", cat_id: rcat.id%>
 <%= renderSubmenu(rcat) %>

</li>
<% end %>
</ul>
</div>


<% end %>




<script>
$(document).ready ( function () {
  //alert("doc ready!")  
    $(document).on ("click", ".toFav", function () {
      var clicked = this.id
      var clickid = this.id.substring(3);
        //alert("hi"+clickid);
         $.ajax({
        url: "/favourites/addToFavourites",
        type: "GET",
        dataType: "json",
        data: { id: clickid },
        //complete: function() {  alert("Ajax complete!")},
             success: function(data) {
                        // Do something with the response here
                         // Show the file contents in our editor.
          //                  alert("Ajax success!");
                            $("#fav"+clickid).prop('value', 'просмотреть'); 
                            $("#toFavBtn"+clickid).empty(); 
                            $("#toFavBtn"+clickid).html("<a href = '/favourites/showFavourites' class = 'fav_link'>избранное</a>");                   // editor is defined somewhere above 
                                                           // 'file_content' is the key we use to respond
                                                           // in the controller function below
                      },
               error: function() {
            //            alert("Ajax error!")
                      }
        //context: document.body
    })
    
    });
 var maxSlide =  $("#max_price").val();
 var minSlide =  $("#min_price").val();
 var sliderMax =  $("#slider_max").val();
 var slider = $("#the_slider").slider({
       
        range: true,
        min: 0,
        max: sliderMax,
        values: [minSlide, maxSlide],
        slide: function(event, ui) {
            $("#min_price").val(ui.values[0]);
            $("#max_price").val(ui.values[1]);
        }
    });
    //$("#min_price").val(slider.slider("values")[0]);
   // $("#max_price").val(slider.slider("values")[1]);


});




</script>


	<b><%= @cat.name %></b>
	<br>

<%= will_paginate @catProducts, :previous_label => 'назад <<', :next_label => '>> вперед' %>
<br>
<!-- если есть подкатегории-->
<% if @catProducts.blank? %>
  <% @childCats.each do |childCat| %>
      <div class = "cat_tab">
       <%= link_to image_tag(childCat.image.url(:thumb), :class => "cat_tab_img"), :action => 'show', :controller => 'catalog', :cat_id => childCat.id%>
      <div class = "cat_tab_sub"><a href='/catalog/show/<%= childCat.id%>'><%= childCat.name %></a></div>
      <div class = "cat_tab_child">
      <%= renderChildCats(childCat) %>
      </div>
      </div>
  <% end %>
<% else %>
<!-- если нет подкатегории-->

<% content_for :filter do %>

<div class = "filter_header">
Подбор товара
</div>
<div class = "catalog_filter">
<%= form_tag "/catalog/filter/", :method => 'get' do %>
  <p>Цена, руб.<br><br>
  <%= hidden_field_tag :cat_id, @cat.id %> 
  <%= hidden_field_tag :slider_max, params[:slider_max], value: @slider_max %> 
  <div class = "filter_min_price">
  от:   <%= text_field_tag :min_price, params[:min_price], value: @minPrice, size: 4 %> 
  </div>
  <div class = "filter_max_price">
  до:   <%= text_field_tag :max_price, params[:max_price], value: @maxPrice, size: 4 %> 
  </div>
  <br>
   
    
  <div id="the_slider"></div> 
  <br>
    <%= submit_tag "фильтр", :name => nil %>
   
 </p>
<% end %>
</div>



<%end%>

<% @catProducts.each do |product| %>
  <div class = "product_tab">
  <%= link_to image_tag(product.image.url(:thumb), :class => "product_tab_img"), :action => 'product', :controller => 'catalog', :good_id => product.id%>
  <!-- <%= image_tag product.image.url(:thumb), :class => "product_tab_img" %> -->
  <%= image_tag('z_rating_0.gif', :class => "product_tab_rating" )%>
  <div class = "product_tab_name">
  <a href='/catalog/product/<%= product.id%>'><%= product.name %></a>
  </div>
  <div class = "product_tab_art">
  Арт: <%= product.articul %><br>
  </div>
  <div class = "product_tab_price">
  <%= number_with_precision(product.price, precision: 2) %>&nbspр.
  </div>
  <div class="">
      
      <%= form_for @order_item, remote: true do |f| %>
     
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "cartCounterSimpleCat", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
           <%= image_submit_tag('to_cart.png', :class => "product_tab_rating" )%>
          </div>
        </div>
      <% end %>
    </div>

  <div class = "product_tab_2buttons">
  <div id = "toFavBtn<%= product.id %>">
  <input type="submit"  value="В Избранное" class = "toFav" id = "fav<%= product.id %>"/>
  </div>


&nbsp&nbsp
<!-- <form method = "get" action = "/favourites/showFavourites">-->
  <div class = "compare_btn">
  <a href = "/favourites/showFavourites"><input type="submit"  value="К сравнению" /></a>
  </div>
<!-- </form>-->

  </div>



  </div>


<% end %>

<% end %> 

<!-- .header  onclick = "location.href='/favourites/showFavourites'"
<% @catProducts.each do |product| %>




<div>
Название: <%= product.name %>
</div>
<div>
Описание товара: <%= product.descriptionMin %>
</div>

<div style="background:#FFFFFF width:170px; float:left;"><%= image_tag product.image.url(:thumb) %></div>


<div style="background:#FFFFFF; width:200px; padding:15px; float:left;">
артикул: <%= product.id %><br>
артикул: <%= product.articul %><br>
цена: <%= product.price %> руб.<br>
штрихкод:<%= product.shtrihkod %><br>
остаток:<%= product.rest %><br>
единица:<%= product.baseUnit %><br><br>
категория:  <%= product.category.name %>
</div>
<div style="background:#FFFFFF; width:200px; float:left; padding:15px;">
  <b>реквизиты товара:</b>

  <%= renderProperties(product) %>
  
</div>
<div style="clear: both">
</div>

<% end %>

-->
<br>








