


 
  <div class="well">
    <%= link_to "Новая категория", new_category_path,  class: "btn btn-primary" %>
  </div>
  <div class="new-category"></div>

  <div class = "headerSearch">

<%= form_tag "/categories", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "searchInput", size: 40 %> &nbsp&nbsp&nbsp
    <%= submit_tag "Найти", :name => nil %>
 </p>
<% end %>
  </div><!-- .headerSearch-->
  <%= will_paginate @catProducts, :previous_label => 'назад <<', :next_label => '>> вперед' %>
<br>

<table  class="table table-bordered table-striped">


  <thead>
    <tr>
      <th>Категория</th>
      <th>идентификатор в 1С</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.id1c %></td>
        <td><%= link_to 'Просмотреть', category %></td>
        <td><%= link_to 'редактировать', edit_category_path(category) %></td>
        <td><%= link_to 'Просмотреть', category %><br><%= link_to 'редактировать', edit_category_path(category) %><br><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





