<%= form_for@product,  html: { multipart: true } do |f| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered table-striped">
<tr>
  <td>
    <%= f.label "Наименование" %></td>
    <td><%= f.text_field :name %></td>
 
  </tr>
  <tr>
  
    <td><%= f.label "Идентификатор в 1с" %></td>
    <td><%= f.text_field :id1c %></td>
  </tr>
 <tr>
  <td><%= f.label "Принадлежит категории" %>
</td>
  <td>  <%= select("product", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %></td>
  </tr>
   <tr>
  <td> <%= f.label "Картинка" %></td>
  <td>  <%= f.file_field :image %> </td>
  </tr>


  <tr>
  <td><%= f.label "Полное описание" %></td>
  <td> <%= f.text_area :descriptionFull %></td>
  </tr>
   <tr>
  <td><%= f.label "Сокращенное описание" %></td>
  <td><%= f.text_area :descriptionMin %></td>
  </tr>
   <tr>
  <td><%= f.label "Артикул" %></td>
  <td><%= f.text_field :articul %></td>
  </tr>
   <tr>
  <td> <%= f.label "Единица" %></td>
  <td> <%= f.text_field :baseUnit %></td>
  </tr>
  <tr>
  <td> <%= f.label "Штрихкод" %></td>
  <td> <%= f.text_field :shtrihkod %></td>
  </tr>
   <tr>
  <td> <%= f.label "Стандарт" %></td>
  <td><%= f.text_field :standart %></td>
  </tr>
  <tr>
  <td><%= f.label "Цена" %></td>
  <td><%= f.text_field :price %></td>
  </tr>
   <tr>
  <td> <%= f.label "Остаток" %></td>
  <td>  <%= f.text_field :rest %></td>
  </tr>



</table>
  
 
  <div class="actions">
    <%= f.submit "Сохранить"%>
  </div>
<% end %>

