<% content_for :catmenu do %>
<div class = "catMenu">
   <ul id="menu">

  <% @rootCats.each do |rcat| %>
  <li class="menu_right"><%= link_to rcat.name, controller: "catalog", action: "show", cat_id: rcat.id%>
 <%= renderSubmenu(rcat) %>

</li>
<% end %>
</ul>
</div>


<% end %>




<div  style="padding-right:25px">
<p>
  
  <%=raw @article.content %>
</p>
</div>
<div>
<% if user_signed_in? %>
	<% if current_user.admin? %>
   <br><br>
  <%= link_to('редактировать', controller: "articles", action: "edit", id: @article.id) %>   
  <br>   
  <% end %>
  <% end %>  
</div>
<br>

<div class = "choiceOfTheWeek">
<div class = "choiceOfTheWeekHeader">
Выбор недели
<div class = "weekchoiceSeparator">
</div>
</div>

<div class = "choicesOfTheWeekContainer">
<% @weekChoices.each do |weekChoice| %>
  <div class = "choiceOfTheWeekContainer">
  <div style="background:#FFFFFF width:170px; float:left; margin: 5px 5px 5px 17px;"><%= image_tag weekChoice.image.url(:weekchoice) %></div>
  <div class = "">
    <div class = "weekChoicePrice"><strong>от <%= weekChoiceMinPrice(weekChoice) %>.-</strong></div>
    <div class = "weekChoiceTitle"><%= link_to weekChoice.title, :action => 'show', :controller => 'content', :id => weekChoice.id %></div>
    </div>
  </div>
<% end %>


</div>
</div>

<div style="clear: both"></div>
<br>


<div class = "homeNews">
<div class = "homeNewsHeader">
<%= link_to 'Новости компании', :action => 'news', :controller => 'content' %>
</div>
<div class = "homeNewsContainer">
<% @news.each do |n| %>

<div class = "newspunkt">
<div style="background:#FFFFFF width:170px; float:left; margin-right:10px"><%= image_tag n.image.url(:thumb) %></div>


<div class = "homeNewsTitle" style="width:320px; margin-left:15px;">
 <strong><%= n.title %></strong>
</div>
<div class = "homeNewsDescription">
<%= n.description %>
<br>

</div>
<%= link_to 'подробнее...', :action => 'show', :controller => 'content', :id => n.id %>
<div style="clear: both">
</div>
</div>
<% end %>


</div>
</div>


<div class = "homeReviews">
<div class = "homeReviewsHeader">
<%= link_to 'Новости ассортимента', :action => 'news', :controller => 'content' %>
</div>
<div class = "homeReviewsContainer">
<% @reviews.each do |r| %>

<div class = "newspunkt">
<div style="background:#FFFFFF width:170px;  float:left; margin-right:10px"><%= image_tag r.image.url(:thumb) %></div>


<div class = "homeNewsTitle" style="width:320px; margin-left:15px;">
 <strong><%= r.title %></strong>
</div>
<div class = "homeNewsDescription">
<%= r.description %>


</div>
<%= link_to 'подробнее...', :action => 'show', :controller => 'content', :id => r.id %>
<div style="clear: both">
</div>
</div>
<% end %>


</div>
</div>


